@tailwind base;
@tailwind components;
@tailwind utilities;

.box1{
  height:150px; 
  background-color:grey; 
  margin:5px;       
}

.box2{
  height:500px; 
  background-color:grey; 
  margin:5px;  
}

.equal > .equal-child:nth-child(4n+1) {
  clear: left;
}

@media (max-width: 768px) {
  .equal > .equal-child:nth-child(2n+1) {
      clear: left;
  }
}